<% provide(:title, '¿Quiénes somos?') %>
<h1>¿Quiénes somos?</h1>
<p>
  El <a href="http://railstutorial.org/">Tutorial de Ruby on Rails</a>
  es un proyecto para elaborar un libro y screencasts para enseñar desarrollo web
  con <a href="http://rubyonrails.org/">Ruby on Rails</a>. Esta
  es la aplicación de ejemplo para el tutorial.
</p>
