<% provide(:title, 'Contacto') %>
<h1>Contacto</h1>
<p>
  Contacte al Tutorial de Ruby on Rails sobre la aplicación de ejemplo en la
  <a href="http://railstutorial.org/contact">página de contacto</a>.
</p>
